*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body{
    background-color:green;
    color:white;
}
header{
    width:100%;
   
   line-height:15vh;
}
    header h1 {
        text-align: center;
        color: white;
        font-size: 1.8rem;
        text-transform: uppercase;
        letter-spacing: 15px;
        text-shadow: 0 1px 0 #efefef,
                     0 2px 0 #efefef,
                     0 3px 0 #efefef,
                     0 4px 0 #efefef,
                     0 30px 5px rgba(0,0,0,.1);
               
        
    }
section{
    display:flex;
    background-color:cornflowerblue;
    height:85vh;
    justify-content:center;
    align-items:center;
}
.gameArea{
    width:50%;
    height:400px;
    background-color:green;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    box-shadow:4px 4px 5px 4px black;
}
h3{
    text-align:center;
    font-size:1.5rem;
}
input{
    width:60%;
    height:80px;
   padding:4px 5px;
    text-align:center;
    border-radius:25px;
    outline:none;
    border:none;
    background-color:#dff9fb;
    color:black;
    margin:2rem 0;
    font-size:1.1rem;





}
button{
    font-size:1rem;
    cursor:pointer;
    outline:none;
    border:#2f3542;
    margin-top:10px;
    color:#eb4d4b;
    width:200px;
    height:60px;
    margin-top:50px;
    border-radius:40px;
}
 button .btn{

    font-weight:600;
   // padding:5px;
    background:white;
    text-transform:uppercase;
    transition-property:all;
    transition-duration:0.5s;
    transition-timing-function:cubic-bezier(0.65,-0.25,0.25,1.95);

    
}
button.btn:hover, button.btn:focus, button.btn:active{

 letter-spacing:0.125rem;
 word-spacing:0.2rem;

}
.hidden{
    display:none;
}